
*{  
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #000;
}

.intro_bg{
    background-color: white;
    width: cover;
    height: 1000px;
}

.사진 {
    width: 300px;
    height: 300px;
}